<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Billing Web Application" />

    <!------------------------- fav-icon section ----------------------->

    <link rel="icon" href="images/fav-con.webp.png" type="image/x-icon" />

    <!------------------------- css section ----------------------->

    <link rel="stylesheet" href="{% static "System/style.css" %}" />

    <title>{% block title %}{% endblock title %}</title>

  </head>
  <body>
    <div class="container">
      <!------------------------- sidebar start section ----------------------->
      
      <div class="sidebar">
        {% block sidebar %}{% endblock sidebar %}
      </div>

      <!------------------------- sidebar end section ----------------------->

      <!----------------------- contain start section --------------------->

      <div class="contain">
        {% block searchbar %}{% endblock searchbar %}
        {% block contain %}{% endblock contain %}
      </div>

      <!----------------------- contain end section --------------------->
    </div>
    <!------------------------- js section ----------------------->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
