{% extends "system/contain_structure.html" %}

{% block containbtn %}

    <a aria-label="test" href="{% url 'settinguser' %}" title="test">
        <div class="btn_link">User</div>
    </a>

    <a aria-label="test" href={% url 'settingsecurity' %} title="test">
        <div class="btn_link">Security</div>
    </a>

    <a aria-label="test" href={% url 'settingpreference' %} title="test">
        <div class="btn_link">Preference</div>
    </a>

{% endblock containbtn %}

{% block containdata %}
sale
{% endblock containdata %}